<h1>Мои карточки</h1>

<div class="row">
  <% @cards.each do |card| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= link_to card.original_text, card %></h3>
          <% if card.cardimg.exists? %>
            <%= image_tag card.cardimg.url(:medium), class: "img-responsive" %>
          <% end %>
          <p><%= card.translated_text %></p>
          <p><%= card.review_date.strftime('%d/%m/%Y') %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>