<div class="col-cg-3 col-offset-4">
  <%= simple_form_for(@card, html: { class: 'form' }) do |f| %>
    <%= f.input :original_text, label: "Оригинальный текст" %>
    <%= f.input :translated_text, label: "Перевод" %>
    <%= f.button :submit, "Создать карточку" %>
  <% end %>
</div>

